<div id="mainMessageBox">
    {%if page.lang == "en" %}

    <div align="justify" style="font-size:10px;">

        <span>
            <br />
            <br />
            Our research group is developing high-performance intelligent systems based on computational intelligence or
            soft computing frameworks.
            <br />
            These frameworks are composed of nature-inspired intelligent techniques such as evolutionary computation,
            fuzzy systems, neural networks, reinforcement learning, and artificial life.
            <br />
            Our research interests include evolutionary multiobjective optimization, knowledge acquisition, evolutionary
            games and so forth.
        </span>
    </div>

    {% else %}

    <br>
    <br>
    <br>
    <center>
        <!--<p><strong>第8研究グループ</strong></p>-->
    </center>

    <span>
        私たちは進化計算，ファジィシステム，ニューラルネットワーク，強化学習，人工生命など，
        計算知能あるいはソフト・コンピューティングと総称される枠組を用いた知的コンピュータシステムの開発に取り組んでいます．
    </span>

    {% endif %}
</div><!-- div#mainMessageBox END -->