{%- assign y = include.date | date: "%Y" | plus: 0 -%}
{%- assign m = include.date | date: "%m" | plus: 0 -%}
{%- assign d = include.date | date: "%d" | plus: 0 -%}

{%- if y >= 2020 -%}
    {%- assign era = "令和" -%}
    {%- assign jy = y | minus: 2018 | prepend: '00' | slice: -2, 2 -%}

{%- elsif y == 2019 and m >= 5 -%}
    {%- assign era = "令和" -%}
    {%- assign jy = "元" -%}

{%- else -%}
    {%- assign era = "平成" -%}
    {%- assign jy = y | minus: 1988 | prepend: '00' | slice: -2, 2 -%}

{%- endif -%}

{%- assign ej = era | append: jy -%}

{{ ej }}年{{ m | prepend: '00' | slice: -2, 2 }}月{{ d | prepend: '00' | slice: -2, 2 }}日
