<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-708SWWZBM2"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-708SWWZBM2'); </script>
<!-- システム情報を設定します。http-equiv属性で設定する項目を決め、content属性で、その値を設定します。-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<!-- イメージツールバーを非表示にする -->
<meta http-equiv="imagetoolbar" content="no" />
<!-- その文書の説明（description）・キーワード（keyword）を指定します。 ここで指定した値は多くの検索エンジンで利用される。 -->
<meta name="keywords"
    content="computational intelligence, fuzzy systems, evolutionary computation, genetic algorithms, neural networks, data mining, multiobjective optimization, evolutionary game, osaka prefecture university" />
<meta name="description" content="Computational Intelligence Labo. , Osaka Metropolitan University" />
<!-- link要素はリンクの関係を示すrel属性（あるいはrev属性）と、リンク先を指定するhref属性を組み合わせて使う。 -->
<link href="/assets/images/common/markicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="/assets/images/common/markicon.ico" rel="icon" type="image/vnd.microsoft.icon" />