<link rel="stylesheet" href="/assets/css/en/common.css" type="text/css" />
<link href="/assets/css/slide/index.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/assets/js/slide/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/slide/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/js/slide/slides.min.jquery.js"></script>
<script type="text/javascript" src="/assets/js/slide/default.js"></script>
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: '/assets/images/slide/loading.gif',
            play: 5000,
            pause: 100,
            hoverPause: true
        });
    });
</script>

<script type="text/javascript" src="/assets/js/common.js"></script>