body{
	background-color:#fafafa;
	margin: 0;
	padding: 85px 0 30px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#000033;
	background-color: #FFFFFF;
	text-align: center;
}

* html body{
	overflow: hidden;
}

ul{
	list-style:none;
	padding:0px;
}
li{
	padding:0px;
}

h2{
	line-height:1em;
	margin:0px 0px 10px 0px;
	padding:0px;
	font-size:1.2em;
}
h3{
	line-height:1em;
	margin:0px 0px 10px 0px;
	padding:0px;
	font-size:1.2em;
}
p{
	line-height:1.6em;
}

a{
	text-decoration:none;
	color:#FFFFFF;
}
a:hover{
	color:#0000FF;
}

div#photo{
	overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

img.bg {
	  /* Set rules to fill background */
	  min-height: 100%;
	  min-width: 1024px;
	  width: 100%;
	  height: auto;
	  position: absolute;
	  top: 0;
	  left: 0;
}

#hoge{
	position: fixed !important;
	position: absolute;
	top: 0;
	z-index: 50;
	text-align: center;
	width: 100%; 
	height: 100%; 
	background-color: #CCCCCC; 
}


#headerArea{
	position: fixed !important;
	position: absolute;
	top: 0;
	z-index: 50;
	width: 100%;
	text-align: center;
}

#logo{
	margin: 0 auto;
	width:920px;
	height:70px;
	text-align: center;
	   /* ▼CSS3 */
  	   border-bottom-left-radius: 20px;  /* 左上 */
	   border-bottom-right-radius: 20px; /* 右上 */
	
	   /* ▼Safari,Chrome */
	   -webkit-border-bottom-left-radius: 20px;  /* 左上 */
	   -webkit-border-bottom-right-radius: 20px; /* 右上 */
	
	   /* ▼Firefox */
	   -moz-border-radius-bottomleft: 20px;  /* 左上 */
	   -moz-border-radius-bottomright: 20px; /* 右上 */

	background-color: #000033;
}
#logo img{
	position:relative;
	top: 25%
}

#mainArea{
	position: fixed !important;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	z-index: 50;
	width: 100%;
	text-align: center;
}

#mark{
	position: relative;
	width: 100%;
	height: 300px;
	text-align: center;
}

#mark img{
	position: relative;
	top: 50%;
	margin-top: -100px;
}



#enter{
	position: relative;
	margin-top: 50px;
	width: 100%;
}
#enter img{
	margin: 0 auto;
}

#language{
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;

}
#language img.japanese{
	position: relative;
	float: left;
	left: 100px;
}
#language img.english{
	position: relative;
	float: right;
	right: 150px;
}

#footerArea{
	position: fixed !important;
	position: absolute;
	bottom: 0;
	z-index: 50;
	width: 100%;
	text-align: center;
}

#footer{ 
	width: 920px;
	height: 35px;
	margin: 0 auto;
	background-color: #000033;
	/* ▼CSS3 */
  	   border-top-left-radius: 20px;  /* 左上 */
	   border-top-right-radius: 20px; /* 右上 */
	
	   /* ▼Safari,Chrome */
	   -webkit-border-top-left-radius: 20px;  /* 左上 */
	   -webkit-border-top-right-radius: 20px; /* 右上 */
	
	   /* ▼Firefox */
	   -moz-border-radius-topleft: 20px;  /* 左上 */
	   -moz-border-radius-topright: 20px; /* 右上 */
}
#footer p{
	padding: 10px;
	color:#cccccc;
	font-size:0.7em;
}

/* Smartphones ----------- */
@media only handheld {
  #mobile_detect { display: none; }
}