<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">



<head>
   {% include meta_common.html %}


   {% include meta_default.html %}


   {% include title.html %}
</head>



<body>
   <div id="top">
      <div id="header">
         {% include logo.html %}
         {% include choice_lan.html %}
         <div>
         </div>
      </div><!-- /#header -->


      <div id="bgColor">
         <div id="mainImgBox">
            {% include header_slide.html %}
            {% include header_message.html %}
         </div><!-- div#mainImgBox END -->
      </div><!-- div#bgColor END -->


      <div id="contents">
         <div id="main">
            {{ content }}
         </div><!-- /#main -->

         <div id="sub">
            {% include side_nav.html %}
         </div><!-- /#sub -->

         {% include return2top.html %}
      </div><!-- /#contents -->


      <div id="footer">
         <div id="footMenu">
            {% include footer_nav.html %}

            {% include footer_external_link.html %}

            <div class="copyright">
               Copyright &copy; 2013-{{ site.time | date: "%Y" }} Computational Intelligence Labo. All Rights Reserved.
            </div>
         </div><!-- /#footer -->
      </div><!-- /#top -->
</body>

</html>